<link rel="stylesheet" href="/css/footer.css" />

<footer>
    <div class="about">
      <h1><span class="logo-text">Anthony </span> <span>Pham</span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
        recusandae, molestiae incidunt
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (1) 778 960 1811
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:minhpham10b@gmail.com">
            minhpham10b@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a>
          <i class="fab fa-youtube"></i>
        </a>
        <a>
          <i class="fab fa-instagram"></i>
        </a>
        <a>
          <i class="fab fa-twitter"></i>
        </a>
        <a>
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>